/* Landing Page */
#landing-page {
 background-image: url(../img/landing_page_img.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 justify-content: center;
}

#col1 {
 border: #ffcc4f 12px solid;
 height: 100vh;
}

#col2 {
 height: 100vh;
 justify-content: center;
}

#app-info {
}

#beta-text {
 color: #eab729;
 padding-bottom: 12px;
}

.btn-landing-page {
 background: #eab729;
 font-weight: 500;
 font-size: 16px;
 width: 100px;
 letter-spacing: 1px;
 margin-right: 1rem;
 margin-bottom: 0.5rem;
 display: inline-block;
 padding: 5px 5px;
 font-weight: bold;
 border-radius: 10px;
 transition: 0.5s;
}

.btn-landing-page:hover {
 background: #ffb600b0;
}

.btn-landing-page a {
 color: #fff;
 font-size: 10px;
 display: inline-block;
}

#google-icon {
 color: #fff;
 font-size: 28px;
 display: inline-block;
}

#apple-icon {
 color: #fff;
 font-size: 28px;
 display: inline-block;
}
/* mobile */
@media (min-width: 320px) and (max-width: 767px) {
 #landing-page {
  background-image: url(../img/landing_page_img\ _mob.png);
 }

 #col1 {
  margin: auto;
  text-align: center;
  height: 50vh;
 }
 #col2 {
  text-align: center;
  margin: auto;
  height: 50vh;
 }

 h1 {
  font-size: 30px;
 }

 #beta-text {
  font-size: 22px;
  padding-bottom: 0px;
 }

 li {
  font-size: 16px;
 }
 .btn-landing-page {
  padding: 4px;
 }

 #google-icon,
 #apple-icon {
  font-size: 24px;
 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
 #landing-page {
  background-image: url(../img/landing_page_img\ _tab.png);
 }
 #col1 {
  width: 100vh;
  height: 50vh;
 }
 #col2 {
  height: 50vh;
  width: 100vh;
 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 #landing-page {
  background-image: url(../img/landing_page_img\ _tab_lndscp.png);
 }
 #col1 {
  height: 100vh;
 }
 #col2 {
  height: 100vh;
 }
 #app-info {
  justify-content: center;
  left: 50%;
 }
 h1 {
  font-size: 30px;
 }

 #beta-text {
  font-size: 22px;
  padding-bottom: 0px;
 }

 li {
  font-size: 16px;
 }
 .btn-landing-page {
  padding: 4px;
 }

 #google-icon,
 #apple-icon {
  font-size: 24px;
 }
}