/* Landing Page */
#landing-page {
 background-image: url(../img/landing_page_img\ _mob.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

#col1 {
 height: 50vh;
 width: 100vh;
}

#col2 {
 height: 50vh;
 width: 100vh;
 align-items: center;
}

#app-info {
 text-align: center;
}

#app-info ul {
 padding-inline-start: 0;
 list-style-position: inside;
}

h1 {
 font-size: 30px;
}

li {
 font-size: 16px;
}
.btn-landing-page {
 padding: 4px;
}

#beta-text {
 color: #eab729;
 font-size: 22px;
 padding-bottom: 0px;
}

.btn-landing-page {
 background: #eab729;
 border: none;
 font-weight: 500;
 font-size: 16px;
 width: 100px;
 letter-spacing: 1px;
 margin-right: 1rem;
 margin-bottom: 0.5rem;
 display: inline-block;
 padding: 5px 5px;
 font-weight: bold;
 border-radius: 10px;
 transition: 0.5s;
 min-height: 48px;
}

.btn-landing-page:hover {
 background: #ffb600b0;
}

.btn-landing-page a {
 color: #fff;
 font-size: 10px;
 display: inline-block;
}

#google-icon {
 color: #fff;
 font-size: 24px;
 display: inline-block;
}

#apple-icon {
 color: #fff;
 font-size: 24px;
 display: inline-block;
}

#app-features {
 text-align: justify;
 margin: 0 auto;
 width: 240px;
}

/* mobile
@media only screen and (min-width: 320px) and (max-width: 768px) {
 #col1 {
  margin: auto;
  height: 50vh;
 }
 #col2 {
  height: 50vh;
 }

 ul {
  list-style-position: inside;
 }
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
 #landing-page {
  background-image: url(../img/landing_page_img\ _tab.png);
 }
 #col1 {
  height: 50vh;
  width: 100vw;
 }
 #col2 {
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
 }

 #app-info {
  margin-top: 6rem;
 }

 #app-features {
  text-align: justify;
  margin: 0 auto;
  width: 240px;
 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 #landing-page {
  background-image: url(../img/landing_page_img.png);
 }
 #col1 {
  height: 100vh;
  width: 50vw;
 }
 #col2 {
  height: 100vh;
  width: 50vh;
  justify-content: center;
 }
 #app-info {
  text-align: left;
  margin-left: 6rem;
 }

 #app-info ul {
  padding-inline-start: 40;
  list-style-position: inside;
 }

 h1 {
  font-size: 30px;
 }

 #beta-text {
  font-size: 22px;
  padding-bottom: 0px;
 }

 li {
  font-size: 16px;
 }
 .btn-landing-page {
  padding: 4px;
 }

 #google-icon,
 #apple-icon {
  font-size: 24px;
 }

 #app-features {
  text-align: left;
 }
}

@media only screen and (min-width: 1024px) {
 #landing-page {
  background-image: url(../img/landing_page_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

 #col1 {
  height: 100vh;
 }

 #col2 {
  height: 100vh;
  justify-content: center;
 }

 #app-info {
  text-align: left;
 }

 #app-info ul {
  padding-inline-start: 40;
  list-style-position: inside;
 }

 #app-features {
  text-align: left;
  width: 400px;
 }
}

#home-link {
 color: black;
}

#app-buy-btn {
 margin-top: 8px;
 width: 200px;
}
